/* Showcase */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: 400px;
    z-index: 10;
    transition: 200ms ease-in-out;
}

/* Navigation */
.main-nav {
    width: 272px;
    height: 238px;
    padding-top: 4.4rem;
    position: relative;
    top: -3.6rem;
    text-align: center;
    transition: 400ms ease-in-out;
}

.main-li {
    padding: 2rem;
}

/* Portfolio */

.main-portfolio {
    opacity: 0;
    width: 98%;
    height: 95%;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr 0.7fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 12px;
    box-sizing: border-box;
    transition: 300ms ease-in-out;
}

.portfolio-logo {
    height: 100%;
    width: 100%;
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
}

.portfolio-box {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    transition: 150ms ease-in-out;
}

.portfolio-box:hover {
    transform: scale(1.03);
    transition: 150ms ease-in-out;
}

.portfolio-box-fullscreen {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 20;
    box-sizing: border-box;
}

.portfolio-box-fullscreen img {
    max-width: 100%;
    max-height: 100%;
}

/* Contacto */
.main-contact {
    width: 20%;
    height: 12%;
    padding: 1.2rem;
    position: relative;
    justify-content: space-around;
    align-items: center;
    transition: 300ms ease-in-out;
}

#main-contact-left {
    /* justify-content: flex-start; */
    right: -1rem;
    padding-right: 2rem;
}

#main-contact-right {
    /* justify-content: flex-end; */
    left: -1rem;
    padding-left: 2rem;
}

/* Hidden */
.main-nav-hidden {
    height: 0;
    top: -20rem;
    padding-top: 0;
    box-shadow: none;
    overflow: hidden;
    transition: 400ms ease-in-out;
}

.main-portfolio-hidden {
    display: none;
}

.main-contact-left-hidden {
    width: 0;
    height: 0;
    position: relative;
    justify-content: space-around;
    align-items: center;
    transition: 300ms ease-in-out;
}

.main-contact-right-hidden {
    width: 0;
    height: 0;
    position: relative;
    justify-content: space-around;
    align-items: center;
    transition: 300ms ease-in-out;
}

.social-hidden {
    display: none;
}

/* Media queries */
@media screen and (max-width: 1322px) {
    .main-portfolio {
        grid-template-rows: repeat(3, 1fr);
    }

    .portfolio-logo {
        grid-row: 2 / 3;
    }

    .main-contact {
        padding: 0.6rem;
    }

    .box17, .box18, .box19, .box20 {
        display: none;
    }
}

@media screen and (max-width: 1128px) {
    .main-contact {
        height: 10%;
        width: 25%;
    }

    .main-portfolio {
        grid-template-columns: repeat(4, 1fr);
    }

    .portfolio-logo {
        grid-column: 2 / 4;
    }

    .box11, .box12, .box13, .box14, .box15, .box16 {
        display: none;
    }
}

@media screen and (max-width: 848px) {
    /* MOBILE! */
    /* contact ES VERTICAL */

    /* Portfolio */
    .main-portfolio {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .portfolio-logo {
        /* grid-column: 1 / 3;
        grid-row: 3 / 4; */
        display: none;
    }

    .box9, .box10 {
        /* display: none; */
    }

    .main-contact {
        width: 15rem;
        height: 16%;
    }

    .main-contact-left {
        padding-bottom: 1.6rem;
    }

    .main-contact-right {
        padding-top: 1.6rem;
    }

    #main-contact-left {
        right: 0;
        padding: 0;
        bottom: -2.9rem;
    }

    #main-contact-right {
        left: 0;
        padding: 0;
        top: -2.9rem;
    }
}

@media screen and (max-width: 585px) {
    .main-nav {
        width: 11rem;
        height: 12rem;
    }

    .main-li {
        padding: 1.3rem;
    }

    .logo {
        width: 225px;
        height: 225px;
    }

    /* contact */
    .main-contact {
        width: 11rem;
    }

    .social {
        margin: 0 10%;
    }

    /* Hidden */
    .main-nav-hidden {
        height: 0;
        top: -8rem;
    }
}