/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Variables */
:root {
    --light-green: rgb(142, 255, 210);
}

/* Showcase */
.container {
    background: url(../assets/img/showcase.png);
    background-size: cover;
    background-position: center;
}

.logo {
    opacity: 1;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    transition: 300ms ease-in-out;
}

/* Navigation */
.main-nav, .main-contact {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 9px 1px #000;
}

.main-li {
    color: #fff;
    font-size: 3rem;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: -0.2rem;
    cursor: pointer;
}

.main-li:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: 100ms ease-in-out;
}

/* Portfolio */

.main-portfolio {
    /* background: #000; */
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 2px 9px 1px #000;
    transition: 300ms ease-in-out;
}

.portfolio-box {
    background-size: cover;
    background-position: center;
    filter: grayscale(0.15);
    box-shadow: 1px 2px 9px 1px #000;
    cursor: pointer;
    opacity: 0.9;
}

.portfolio-box:hover {
    filter: grayscale(0);
    opacity: 1;
}

.fullscreen-container {
    background: rgba(0, 0, 0, 0.8);
}

.portfolio-img-fullscreen img {
    border: 5px solid #fff;
}

.close-btn {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(107, 107, 107);
    border-radius: 50%;
    cursor: pointer;
}

.close-btn:hover {
    color: #fff;
}

.box1 {
    background: url(../assets/img/portfolio/work1-min.jpg) no-repeat;
}

.box2 {
    background: url(../assets/img/portfolio/work2-min.jpg) no-repeat;
}

.box3 {
    background: url(../assets/img/portfolio/work3-min.jpg) no-repeat;
}

.box4 {
    background: url(../assets/img/portfolio/work4-min.jpg) no-repeat;
}

.box5 {
    background: url(../assets/img/portfolio/work5-min.jpg) no-repeat;
}

.box6 {
    background: url(../assets/img/portfolio/work6-min.jpg) no-repeat;
}

.box7 {
    background: url(../assets/img/portfolio/work7-min.jpg) no-repeat;
}

.box8 {
    background: url(../assets/img/portfolio/work8-min.jpg) no-repeat;
}

.box9 {
    background: url(../assets/img/portfolio/work9-min.jpg) no-repeat;
}

.box10 {
    background: url(../assets/img/portfolio/work10-min.jpg) no-repeat;
}

.box11 {
    background: url(../assets/img/portfolio/work11-min.jpg) no-repeat;
}

.box12 {
    background: url(../assets/img/portfolio/work12-min.jpg) no-repeat;
}

.box13 {
    background: url(../assets/img/portfolio/work13-min.jpg) no-repeat;
}

.box14 {
    background: url(../assets/img/portfolio/work14-min.jpg) no-repeat;
}

.box15 {
    background: url(../assets/img/portfolio/work15-min.jpg) no-repeat;
}

.box16 {
    background: url(../assets/img/portfolio/work16-min.jpg) no-repeat;
}

.box17 {
    background: url(../assets/img/portfolio/work17-min.jpg) no-repeat;
}

.box18 {
    background: url(../assets/img/portfolio/work18-min.jpg) no-repeat;
}

.box19 {
    background: url(../assets/img/portfolio/work19-min.jpg) no-repeat;
}

.box20 {
    background: url(../assets/img/portfolio/work20-min.jpg) no-repeat;
}

.box21 {
    background: url(../assets/img/portfolio/work21-min.jpg) no-repeat;
}

.box22 {
    background: url(../assets/img/portfolio/work22-min.jpg) no-repeat;
}

.box23 {
    background: url(../assets/img/portfolio/work23-min.jpg) no-repeat;
}

.box24 {
    background: url(../assets/img/portfolio/work24-min.jpg) no-repeat;
}

/* contact */
.main-contact {
    font-size: 5rem;
}

.social > * {
    color: #fff;
    cursor: pointer;
} 

.social:hover {
    transition: 100ms ease-in-out;
}

.instagram:hover a {
    color: #ffd699;
}

.facebook:hover a {
    color: #6c9aff;
}

.whatsapp:hover i {
    color: #56ff94;
}

.email:hover i {
    color: #ff8c82;
}

.contact-popup {
    background: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 3%;
    opacity: 0;
    transition: 200ms ease-in-out;
}

.whatsapp-popup {
    background: #fff;
    color: #2bdf6d;
    border: 3.5px solid #2bdf6d;
}

.email-popup {
    background: #fff;
    color: #ff8c82;
    border: 3.5px solid #ff8c82;
}

/* Media queries */
@media screen and (max-width: 1652px) {
    .main-contact {
        font-size: 3.7rem;
    }
}

@media screen and (max-width: 1322px) {
    .main-contact {
        font-size: 3rem;
    }
}

@media screen and (max-width: 848px) {
    /* MOBILE! */
    /* CONTACTO ES VERTICAL */
}

@media screen and (max-width: 585px) {
    .main-li {
        font-size: 2.3rem;
    }
}